/* .admin-sidebar {
  width: 220px;
  background: #34495e;
  color: white;
  padding: 20px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-sidebar li {
  margin-bottom: 15px;
}

.admin-sidebar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 8px 12px;
  border-radius: 4px;
}

.admin-sidebar a:hover,
.admin-sidebar a.active {
  background-color: #1abc9c;
}
 */